$dark: rgb(80,80,80);
$white: #fff;

$jj-red: #af2c33;
$jj-brown: #58361d;
$jj-brown: #5e1701;


$jj-green: #6c923e;
$jj-grey: #999;

$facebook: #3b5998;
$twitter: #00b6f1;
$instagram: #c32aa3;
$pinterest: #cb2027;

